name: Cron

on:
  schedule:
    - cron: '0 5-21 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: execute py script
        env:
          BASEURL: ${{ secrets.BASEURL }}
          SITE_TOKEN: ${{ secrets.SITE_TOKEN }}
          SITE_ID: ${{ secrets.SITE_ID }}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python main.py
